:root {
    background-color: var(--md-sys-color-surface-container);
    color: var(--md-sys-color-on-surface);
    --catalog-display-xl-font-size: 88px;
    --catalog-display-m-font-size: 45px;
    --catalog-title-l-font-size: 22px;
    --catalog-title-m-font-size: 16px;
    --catalog-title-s-font-size: 14px;
    --catalog-body-l-font-size: 16px;
    --catalog-body-m-font-size: 14px;
    --catalog-headline-s-font-size: 24px;
    --catalog-label-s-font-size: 11px;
    --catalog-shape-xl: 28px;
    --catalog-shape-l: 16px;
    --catalog-shape-m: 12px;
    --catalog-shape-s: 8px;
    --catalog-shape-xs: 4px;
    --catalog-spacing-xl: 28px;
    --catalog-spacing-l: 16px;
    --catalog-spacing-m: 12px;
    --catalog-spacing-s: 8px;
    --catalog-top-app-bar-height: calc(48px + 2 * var(--catalog-spacing-m));
    scroll-padding-block-start: calc(var(--catalog-top-app-bar-height) + var(--catalog-top-app-bar-padding-block) * 2)
}

@media screen and (max-width: 600px) {
    :root {
        --catalog-display-xl-font-size: 55px;
        --catalog-title-l-font-size: 16px;
        --catalog-body-l-font-size: 14px;
        --catalog-body-m-font-size: 12px;
        --catalog-spacing-xl: 16px;
        --catalog-spacing-l: 12px
    }
}

body {
    margin: 0;
    font-size: var(--catalog-body-l-font-size)
}

a {
    color: var(--md-sys-color-primary);
    text-decoration: none
}

    a:focus-visible, a:hover {
        text-decoration: underline
    }

nav-drawer md-list-item[href][selected] {
    --md-list-item-container-color: var(--md-sys-color-surface-container-highest)
}

@media (forced-colors:active) {
    nav-drawer md-list-item[href][selected] {
        border: 4px double CanvasText
    }

    nav-drawer md-list-item[href] {
        border-radius: var(--catalog-shape-xl);
        border: 1px solid CanvasText
    }
}

md-list {
    --md-list-container-color: transparent;
    --md-list-item-container-color: transparent;
    display: block;
    margin-inline: var(--catalog-spacing-m);
    min-width: unset
}

md-list-item[href] {
    margin-block: var(--catalog-spacing-m);
    display: block
}

    md-list-item[href]:first-of-type {
        margin-block: 4px
    }

h1 {
    font-size: var(--catalog-display-xl-font-size)
}

.toc ol {
    list-style-type: none;
    font-size: var(--catalog-body-m-font-size)
}

.toc > ol {
    padding: 0
}

    .toc > ol ol {
        list-style-type: circle;
        padding-inline-start: var(--catalog-spacing-xl)
    }

.toc ol li {
    margin-block: var(--catalog-spacing-m)
}
