/* /Shared/CodeBlock.razor.rz.scp.css */
.code-container[b-0c21yggip2] {
    max-height: min(90vh, 500px);
    overflow: auto;
}

    .code-container code[b-0c21yggip2] {
        min-height: min(90vh, 10rem);
    }

    .code-container[b-0c21yggip2] .btn-copy {
        position: absolute;
        right: 1rem;
        top: 1rem;
        z-index: 2;
    }
/* /Shared/MainLayout.razor.rz.scp.css */
.page-header[b-k68xj1x1tp] {
    padding: var(--catalog-spacing-m) var(--catalog-spacing-s);
    background-color: var(--md-sys-color-surface-container);
    color: var(--md-sys-color-on-surface);
}

.home-link[b-k68xj1x1tp] {
    color: var(--md-sys-color-primary);
    font-size: max(var(--catalog-title-l-font-size), 22px);
    text-decoration: none;
    padding-inline: 12px;
    position: relative;
    outline: none;
    vertical-align: middle;
}

.content[b-k68xj1x1tp] {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    min-height: 0;
}

.page-nav[b-k68xj1x1tp] {
    width: 100%;
    max-width: 300px;
    height: 100%;
    overflow-y: auto;
}

    .page-nav.collapsed[b-k68xj1x1tp] {
        max-width: 0;
    }

.page-content-container[b-k68xj1x1tp] {
    min-width: 0;
    min-height: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

    .page-content-container .page-content-elevation[b-k68xj1x1tp] {
        flex-grow: 1;
        position: relative;
        border-radius: var(--catalog-shape-m, .75rem);
        min-height: 0;
        height: 100%;
        background-color: var(--md-sys-color-surface);
    }

.page-content[b-k68xj1x1tp] {
    min-height: 0;
    height: 100%;
    overflow: auto;
}

[b-k68xj1x1tp] md-list {
    --md-list-item-container-shape: 48px;
}
