.material-symbols-sharp,
.material-symbols-rounded,
.material-symbols-outlined {
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    line-height: inherit;
    vertical-align: middle;
}
