@inherits DefaultMdComponent

<div @attributes="AdditionalAttributes" @oncheckedchange="OnCheckedChanged" @ref="el">
    <CascadingValue Name="MdRadioName" Value="@(Name)">
        @(ChildContent)
    </CascadingValue>
</div>