@page "/divider"

<ComponentDemoPage Name="Divider"
                   DesignUrl="https://m3.material.io/components/divider/overview"
                   ComponentUrl="https://github.com/material-components/material-web/blob/main/docs/components/divider.md"
                   ComponentSourcePath="divider"
                   BlazorComponentSourcePath="MdDivider.razor"
                   BlazorDemoSourceName="Divider">
    <Description>
        Dividers are thin lines that group content in lists or other containers
    </Description>
    <ComponentDemo>
        <div>Some content</div>

        <MdDivider Inset="inset" InsetStart="insetStart" InsetEnd="insetEnd" />

        <div>Some content</div>
    </ComponentDemo>
    <Tweaks>
        <Stack>
            <LabeledSwitch @bind-Selected="inset" Label="Inset" />
            <LabeledSwitch @bind-Selected="insetStart" Label="Inset Start" />
            <LabeledSwitch @bind-Selected="insetEnd" Label="Inset End" />
        </Stack>
    </Tweaks>
</ComponentDemoPage>

@code {

    bool inset;
    bool insetStart;
    bool insetEnd;

}