@page "/"

<PageTitle>Blazor Material Web</PageTitle>

<h1>Blazor Material Web</h1>

<p>
    Blazor Material Web is a Blazor wrapper for
    <a href="https://github.com/material-components/material-web/">Material Web Component</a>.
</p>