@page "/menu"

<PageTitle>Menus</PageTitle>

<h1>Menus</h1>

<p>
    <a href="https://m3.material.io/components/menus/overview">Menus</a>
    display a list of choices on a temporary surface.
</p>

<div class="alert alert-warning">
    This component is still under development by Web Component.
</div>

@code {


}