@page "/ripple"

<ComponentDemoPage Name="Ripple"
                   DesignUrl="https://m3.material.io/foundations/interaction/states/state-layers"
                   ComponentUrl="https://material-web.dev/components/ripple/"
                   ComponentSourcePath="ripple"
                   BlazorComponentSourcePath="MdRipple.razor"
                   BlazorDemoSourceName="Ripple">
    <Description>
        Ripples are state layers used to communicate the status of a component or interactive element.
    </Description>
    <ComponentDemo>
        <div class="row text-center">
            <div class="col">
                <button style="width: 200px; height: 100px;" class="position-relative">
                    <MdRipple Disabled="disabled" />
                    <code>MdRipple</code> Attached to parent
                </button>
            </div>
            <div class="col">
                <div class="d-inline-block position-relative">
                    <MdRipple Disabled="disabled" for="btn-id" />
                    <button id="btn-id" style="width: 200px; height: 100px;">
                        <code>MdRipple</code> Attached to a referenced element
                    </button>
                </div>
            </div>
            <div class="col">
                <div style="width: 200px; height: 100px;" class="position-relative border">
                    <MdRipple Disabled="disabled" />
                    Custom div
                </div>
            </div>
        </div>
    </ComponentDemo>
    <Tweaks>
        <LabeledSwitch @bind-Selected="disabled" Label="Disabled" />
    </Tweaks>
</ComponentDemoPage>

@code {
    bool disabled;
}