<label class="hstack gap-1">
    <MdSwitch @bind-Selected="Selected" @bind-Selected:after="OnSelectedChanged"
              Disabled="@(Disabled)" />
    @if (Label is not null)
    {
        @(Label)
    }
    else
    {
        @(ChildContent)
    }
</label>