.page-header {
    padding: var(--catalog-spacing-m) var(--catalog-spacing-s);
    background-color: var(--md-sys-color-surface-container);
    color: var(--md-sys-color-on-surface);
}

.home-link {
    color: var(--md-sys-color-primary);
    font-size: max(var(--catalog-title-l-font-size), 22px);
    text-decoration: none;
    padding-inline: 12px;
    position: relative;
    outline: none;
    vertical-align: middle;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    min-height: 0;
}

.page-nav {
    width: 100%;
    max-width: 300px;
    height: 100%;
    overflow-y: auto;
}

    .page-nav.collapsed {
        max-width: 0;
    }

.page-content-container {
    min-width: 0;
    min-height: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

    .page-content-container .page-content-elevation {
        flex-grow: 1;
        position: relative;
        border-radius: var(--catalog-shape-m, .75rem);
        min-height: 0;
        height: 100%;
        background-color: var(--md-sys-color-surface);
    }

.page-content {
    min-height: 0;
    height: 100%;
    overflow: auto;
}

::deep md-list {
    --md-list-item-container-shape: 48px;
}
