@inherits LayoutComponentBase

@inject NavigationManager Nav;

<header class="page-header align-items-center">
    <MdFab @onclick="@(() => menuCollapsed = !menuCollapsed)"
           Size="MdFabSize.Small">
        <MdIcon slot="icon">menu</MdIcon>
    </MdFab>

    <a href="/" class="home-link my-0">Blazor Material Web</a>
</header>

<div class="content">
    <nav class="page-nav @(menuCollapsed ? "collapsed" : "")">
        <PageNav />
    </nav>
    <main class="page-content-container p-3">
        <div class="page-content-elevation">
            <MdElevation ElevationLevel="3" />

            <div class="container-fluid page-content">
                @Body
            </div>
        </div>        
    </main>
</div>

@code {
    bool menuCollapsed;
}